# Startup Transformation

### Análise dos dados de uma startup a fim de obter-se as seguintes respostas:

* A empresa está em boa saúde financeira?
* A empresa precisa demitir algum funcionário?
* A empresa deve permitir que os funcionários trabalhem em casa permanentemente?

In [1]:
# Importa as bibliotecas

from sklearn import preprocessing
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [15]:
# teste

employees = pd.read_csv('employees.csv', encoding='unicode_escape')
employees.head()

                Name  Salary  Productivity  Commute Time
0     Mason Pender     87902         29.91         16.79
1          Mia Rew     95672         49.91         44.48
2   Jalisa Kroenke    177864         78.00         19.40
3  Krystal Homeyer    186643         24.36         42.06
4    Kiana Wishart    167148          4.08         25.58